$font:(
    chico: 1em,
    medio: 1.5em,
    grande: 2.5em,
    mamiferos: 0.8em
);

$borderR:(
    25: 25px,
    50: 50px
);

$box-shadow:(
    normal: 23px 18px 14px 1px rgba(0,0,0,0.75),
    mamiferos: 10px 10px 5px 0px rgb(224,97,17),
    reptiles: 10px 10px 5px 0px rgb(14,224,24),
    peces: 10px 10px 5px 0px rgb(14,224,193),
    aves: 10px 10px 5px 0px rgba(9,32,232,1)
);